@media only screen and (min-width: 32.5em) {
    body {
        background-color: whitesmoke;
    }

    h1 {
        font-family: 'Libre Baskerville', serif;
    }
        
    h2 {
        color: black;
    }
}

   