@media only screen and (min-width: 32.5em) {
    body {
        background-color: grey;
        font-size: 20px;
        padding: 12px;
    }

    h1 {
        font-size: 24px;
        font-family: 'Libre Baskerville', serif;
    }
        
    h2 {
        color: #666666;
    }
}

   