body {
    background-color: grey;
    font-family: 'Georgia';
    font-size: 20px;
  }
  
  h1 {
    color: rgb(145, 7, 7);
    margin-left: 20px;
    text-align: right;
  }

  image {
    
    viewport-fit: auto;
  }

  h2 {
    color: #666666;
    text-shadow: 1px 1px 3px #666666;
  }

  a:link {
    color: blue;
    text-decoration: none;
  }

  a:visited {
    color: blueviolet;
  }

  a:hover {
    color: blue;
    text-decoration: underline;
  }